<app-scaffold>
    <ng-container content>
        <div class="fixed top-0 left-0 -z-10 h-full w-full">
            <div class="h-full w-full bg-cover bg-bottom" style="background-image: url(/assets/img/wedding-4.jpg)"></div>
        </div>
        <div class="z-0 flex h-1/4 w-full flex-col items-center justify-center">
            <h2 class="font-heading text-6xl font-bold md:text-7xl">Save The Date</h2>
            <h3 class="font-heading text-3xl font-bold md:text-4xl">16-03-24</h3>
        </div>
    </ng-container>
</app-scaffold>
