<app-scaffold>
    <ng-container content>
        <div class="fixed top-0 left-0 -z-10 h-full w-full">
            <div class="h-full w-full bg-cover bg-bottom" style="background-image: url(/assets/img/wedding-2.jpg)"></div>
        </div>
        <div class="z-0 flex h-4/5 w-full flex-col items-center justify-center">
            <h1 class="font-heading text-6xl font-normal sm:text-7xl md:text-8xl lg:text-9xl">We're getting married!</h1>
            <hr class="my-12 w-full border-black" />
            <h2 class="font-heading text-4xl font-bold md:text-5xl">Save The Date</h2>
            <h3 class="font-heading text-3xl font-bold md:text-4xl">16-03-24</h3>
        </div>
    </ng-container>
</app-scaffold>
