<!-- <footer class='w-full relative '>
    <section class="w-full z-10 absolute bottom-0 left-0 h-auto min-h-12 text-white text-sm font-semibold font-serif bg-accent-500 flex flex-col md:flex-row justify-between items-center px-8">
        <div class="py-2 md:py-0">&copy; {{ now format="Y" }} {{ settings:site_name }}</div>
        <div class="flex flex-row py-2 md:py-0">
            {{ settings:social }}
                <a href="{{ url }}" class="mr-8 transition duration-150 ease-linear text-white hover:text-primary-300" aria-label="{{ name }}" rel="noopener">
                    {{ svg :src="icon" class="h-6 w-6 hover:text-teal" }}
                </a>
            {{ /settings:social }}
        </div>
        <div class="py-2 md:py-0">Developed with 💖 by <a class="underline text-white" href="https://declanmurphy.xyz">Declan Murphy</a></div>
    </section>

    <div class="absolute z-0 w-120 bottom-0 right-0">
        <img class="h-auto w-full object-cover opacity-25" src="{{ settings:watermark }}" alt="{{ image.alt }}">
    </div>
</footer> -->
